
  <div id="bookings-form">
    <div class="bookings-form-title">
      <h6>Book now!</h6>
    </div>

      <div id='instrument-booking-dates' data-unavailable="<%= @instrument.unavailable_dates.to_json %>">
        <% if @instrument.user_id  %>
          <%= simple_form_for [@instrument, @booking] do |f| %>
            <%= f.input :check_in_date, as: :string, required: false, input_html: {id: "check_in_date"} %>
            <%= f.input :check_out_date, as: :string, required: false, input_html: {id: "check_out_date"} %>
            <%= f.button :submit, "Request", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
  </div>
