<div class="banner">
  <div id="video">
    <%= video_tag "banner-home.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video-bg" %>
  </div>
  <h1 class="text-center">TONE!</h1>
  <p class="text-center">find the best music tools around you</p>
  <br>
  <div class="form-group row d-flex justify-content-center">
    <div class= "col-md-auto">
      <div class="form-inline">
        <%= form_tag instruments_path, method: :get do %>
          <!--<%= text_field_tag :query,
            params[:query],class: "form-control p-2 ",placeholder: "ex: Piano"%> -->
          <%=select_tag(:query, options_for_select(@instruments.map{|c|[c.category, c.category]}.uniq),prompt: "Select all categories")%>
          <%= submit_tag "Search", class: "btn btn-success b-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>