<div class="container-dashboard d-flex justify-content-between">
  <div class="container-instruments-summary">
    <h1>My Instruments for Rent </h1>
      <div class="row">
        <% @instruments.each do |instrument| %>
        <div class="card-product w-100">
          <% if instrument.photo.attached? %>
            <%= cl_image_tag instrument.photo.key, width: 160, crop: :fill %>
          <% else %>
            <%= image_tag 'https://images.unsplash.com/photo-1466232373731-46205f0b668e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80' %>
          <% end %>
          <div class="card-body">
            <h2 class="card-title"><%= instrument.category %></h2>
            <p class="card-text"><%= instrument.description %></p>
            <%= link_to "Remove", instrument_path(instrument), method: :delete, data: { confirm: "Are you sure you want to remove this product from your renting list?"} , class: "btn btn-success"%>
            <%= link_to "Edit", edit_instrument_path(instrument), class: "btn btn-success" %>
          </div>
        </div>
        <% end %>
      </div>

    <%= link_to "Add an instrument", new_instrument_path, class: "btn btn-success" %>
 </div>

<div class="container-dashboard-bookings">
    <h1>Booking Requests</h1>
    <% @bookings.each do |booking| %>
      <%= booking.check_in_date %>
      <%= booking.check_out_date %>
    <% end %>
</div>

  <div class="container-dashboard-bookings">
    <h1>My Bookings</h1>
    <% @bookings.each do |booking| %>
      <%= booking.check_in_date %>
      <%= booking.check_out_date %>
    <% end %>
  </div>

  <div class="container-dashboard-history">
    <h1>My previous bookings</h1>
    <% @bookings.each do |booking| %>
    <% end %>
  </div>

</div>

