<div class = "container mx-auto " style="padding-top: 30px ">
  <!-- Tab links -->
  <div class="tab mx-auto">
    <button class="tablinks">Bookings Received</button>
    <button class="tablinks">Bookings Made </button>
    <button class="tablinks">Instruments for Rent</button>
  </div>
  <!-- ---------------Bookings received ----------------------------->

  <div id="bookings-received" class="tabcontent">
    <div class="container" style="padding-top: 15px">
      <div class="row">
        <div class="col-lg-6">
          <h4>Upcoming bookings </h4>
        </div>
        <div class="col-lg-6">
          <h4>Past Bookings</h4>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------ Requested Bookings----------------------- -->
  <div id="requested-bookings" class="tabcontent">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>My upcoming bookings</h4>
        </div>
        <div class="col-lg-6">
          <h4>My past bookings</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------Instruments ------------------------------>
  <div id="instruments" class="tabcontent">
    <div class="container">>
      <h1>My Instruments for Rent </h1>
      <div class="row">
        <% @instruments.each do |instrument| %>
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2><%= instrument.title %></h2>
              <ul>
                <li><span><%= instrument.price_per_day %> CHF</span> </li>
              </ul>
            </div>
            <%= link_to "Remove", instrument_path(instrument), method: :delete, data: { confirm: "Are you sure you want to remove this product from your renting list?"} , class: "btn btn-transparent"%>
            <%= link_to "Edit", edit_instrument_path(instrument), class: "btn btn-trasnparent" %>
          </div>
        <% end %>
        <%= link_to "Add an instrument", new_instrument_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
