<div class="container d-flex">

  
  <div class="container">
    <div class="row justify-content-md-center">
      <% @instruments.each do |instrument| %>
      <div class="card-product col col-sm-10">
        <img class="card-img-top img-fluid" src="https://images.pexels.com/photos/2049414/pexels-photo-2049414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-body">
          <h2 class="card-title"><%= instrument.category %></h2>
          <p class="card-text"><%= instrument.description %></p>
          <%= link_to '', instrument_path(instrument) %>
        </div>
      </div>
        <% end %>
      </div>
  </div>
  <div class="col col-lg-5" id="map"
              style="width: 70%; height: 650px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
