<div class="container">
  <div class="container-index-detail">
    <h1><strong><h1>Instruments nearby</h1></strong></h1>
  </div>
  
  <div class="container">
    <div class="row">
      <% @instruments.each do |instrument| %>
      <div class="card-product w-100">
        <img class="card-img-top" src="https://images.pexels.com/photos/2049414/pexels-photo-2049414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-body">
          <h2 class="card-title"><%= instrument.category %></h2>
          <p class="card-text"><%= instrument.description %></p>
          <p class="btn btn-sm btn-primary col-3"><%= link_to instrument.title, instrument_path(instrument) %></p>
          <div id="map"
              style="width: 80%; height: 600px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
      <% end %>
  </div>
  </div>

</div>
