<div class="container">
  <div class="row">
    <div class="sub-container d-flex justify-content-between">
      <div class="title">
        <h1><%= @instrument.title %></h1>
      </div>
      <div class="title-infos">
         <!--  <li><%= @instrument.pickup_address %></li>
          <li><%= @instrument.price_per_day %> CH</li> -->
          <blockquote class="blockquote text-center">
          <p class="mb-0"><%= @instrument.pickup_address %></p>
          <footer class="blockquote-footer"><cite title="Source Title"><%= @instrument.price_per_day %> CH</cite></footer>
          </blockquote>
      </div>
  </div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-inner" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "piano1.jpg", class: "d-block w-100" %>
      </div>s
      <div class="carousel-item">
        <%= image_tag "piano2.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "piano3.jpg", class: "d-block w-100" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="sub-container">
    <h3>Description <small class="text-muted"><%= @instrument.description %></small></h3>
  </div>

  <div id="map"
              style="width: 80%; height: 600px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>


</div>

