<div class="container show">

  <div class="title">
      <h2 id="title-show"><em><%= @instrument.title %> </em></h2>
    </div>
    <div class="container-address-price">
        <p><%= @instrument.pickup_address %></p>
        <p id="price"><%= @instrument.price_per_day %> CHF</p>
    </div>

  <div class="row">
    <div class="col">
      <div class="lt-description col">
        <h2 id="title-description">Description</h2>
        <p id="description-details"><%= @instrument.description %></p>
      </div>
      <div class="container-booking-pickr">
        <%= render 'shared/booking_form', instrument: @instrument %>
      </div>
    </div>

    <div class="col">
      <div class="lt-pic col">
      <% if @instrument.photo.attached? %>
        <%= cl_image_tag @instrument.photo.key %>
      <%  else %>
        <%= image_tag "#{@instrument.img_url}" %>
      <% end %>
    </div>
    </div>

    <div class="w-100"></div>

    <div class="col">
      <div class="map-show col justify-content-md-center" id="map"
              style="width: 500px; height: 500px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="reviews col">
      <h2 id="title-review">Reviews</h2>
        <div class="container-reviews">
          <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large justify-content-end"/>
          <div class="notification-content">
            <p><small>9th January</small></p>
            <p><strong>Je vends une 306 décapotable, mp si intéressé</strong></p>
          </div>

          <div class="notification-actions">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
            <a href="#">Delete <i class="far fa-trash-alt"></i></a>
          </div>
    </div>
  </div>
</div>