<div class="container funky-town" >

  <div class="title">
      <h2 id="title-show"><em><%= @instrument.title %> </em></h2>
    </div>
    <div class="container-address-price">
        <p><%= @instrument.pickup_address %></p>
        <p id="price"><%= @instrument.price_per_day %> CHF</p>
    </div>

  <div class="row">
    <div class="col">
      <div class="lt-description col">
        <h2 id="title-description">Description</h2>
        <p id="description-details"><%= @instrument.description %></p>
      </div>
      <div class="container-booking-pickr">
        <%= render 'shared/booking_form', instrument: @instrument %>
      </div>
    </div>

    <div class="col">
      <div class="lt-pic col">
      <% if @instrument.photo.attached? %>
        <%= cl_image_tag @instrument.photo.key %>
      <%  else %>
        <%= image_tag "#{@instrument.img_url}" %>
      <% end %>
    </div>
    </div>

    <div class="w-100"></div>

    <div class="col">
      <div class="sub-container-show space-between" id="map-review">
      <div class="container-map" id="map"
      # style="width: 100%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

    <div class="col reviews">
        <h2 id="title-review">Reviews</h2>
        <div class="container-reviews">
          <% @reviews.each do |review| %>
            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
              <div class="card-body flex-row">
                <p class="card-text"><%= review.rating %> /5</p>
                <p class="card-text"><%= review.created_at %></p>
                <p class="card-text"><%= review.comment %></p>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>