<div class="container">
  <div class="row">
    <div class="sub-container d-flex justify-content-between d-flex align-items-center">
      <div class="title">
        <h1><%= @instrument.title %></h1>
      </div>
      <div class="title-infos">
          <li><%= @instrument.pickup_address %></li>
          <li><%= @instrument.price_per_day %> CH</li>
      </div>
  </div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-inner" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "piano1.jpg", class: "d-block w-100" %>
      </div>s
      <div class="carousel-item">
        <%= image_tag "piano2.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "piano3.jpg", class: "d-block w-100" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="sub-container d-flex align-items-center">
    <h1>Description <small class="text-muted"><%= @instrument.description %></small></h1>
  </div>



  </div>


</div>

