
<div class="container" id="instrument">

  <div class="sub-container-show" id="title-infos">

    <div class="container-title">
      <h1 id="title-show"><em><%= @instrument.title %> </em></h1>
    </div>
    <div class="container-address-price">
        <p><%= @instrument.pickup_address %></p>
        <p id="price"><%= @instrument.price_per_day %> CHF</p>
    </div>


  </div>

  <div class="sub-container-show space-between" id="container-img-description">

    <div class="container-img">
      <% if @instrument.photo.attached? %>
        <%= cl_image_tag @instrument.photo.key, width: 300, crop: :fill %>
          <% else %>
        <%= image_tag "#{@instrument.img_url}" %>
      <% end %>
    </div>
    <div class="container-date-description">
      <div class="container-instrument-description">
        <h1 id="title-description">Description</h1>
        <h3 id="description-details"><%= @instrument.description %></h3>
      </div>
      <div class="container-booking-pickr">
        <%= render 'shared/booking_form', instrument: @instrument %>

      </div>
    </div>

  </div>


  <div class="sub-container-show space-between" id="map-review">
    <div class="container-map" id="map"
    style="width: 80%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <div class="container-review">
      <h1 id="title-review">Reviews</h1>

      <div class="container-reviews">

        <% @reviews.each do |review| %>

          <div class="notification">
            <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>

            <div class="card-body flex-row">
              <p class="card-text"><%= review.rating %> /5</p>
              <p class="card-text"><%= review.created_at %></p>
              <p class="card-text"><%= review.comment %></p>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

